apiVersion: v1
kind: Service
metadata:
  name: jaeger
  namespace: monitoring
spec:
  type: ClusterIP
  selector:
    app: jaeger
  ports:
    - port: 16686
      targetPort: 16686
      name: jaeger-ui
      protocol: TCP
    - port: 14268
      targetPort: 14268
      name: jaeger-http
      protocol: TCP
    - port: 14250
      targetPort: 14250
      name: jaeger-grpc
      protocol: TCP
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: jaeger
  namespace: monitoring
spec:
  replicas: 1
  selector:
    matchLabels:
      app: jaeger
  template:
    metadata:
      labels:
        app: jaeger
    spec:
      containers:
        - name: jaeger
          image: jaegertracing/all-in-one:1.65.0
          ports:
            - containerPort: 16686
            - containerPort: 14268
            - containerPort: 14250
          env:
            - name: COLLECTOR_OTLP_ENABLED
              value: "true"
          resources:
            requests:
              cpu: 200m
              memory: 256Mi
            limits:
              cpu: 500m
              memory: 512Mi
