services:
  aircraft-database:
    container_name: aircraft-database
    image: postgres:17.6
    environment:
      POSTGRES_DB: aircraft
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "${POSTGRES_PORT:-5433}:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER:-postgres} -d ${POSTGRES_DB:-aircraft}" ]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 5s
    networks:
      - aviation-network

  aircraft-cache:
    container_name: aircraft-cache
    image: redis:8.2
    ports:
      - "6380:6379"
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      timeout: 3s
      retries: 5
    networks:
      - aviation-network

networks:
  aviation-network:
    name: aviation-network
    driver: bridge