services:
  gateway-service:
    build: .
    container_name: gateway-service
    ports:
      - "1000:1000"
    environment:
      ENVIRONMENT: ${ENVIRONMENT:-prod}
      ROUTER_URL: ${ROUTER_URL:-http://apollo-router:4000}
      JWKS_URL: http://auth-service:8000/.well-known/jwks.json
      PORT: 1000
    networks:
      - aviation-network

networks:
  aviation-network:
    name: aviation-network
    driver: bridge