services:
  authentication-service:
    build:
      context: .
      target: web
    container_name: authentication-service
    environment:
      SECRET_KEY: super-secret-key
      DEBUG: False
      ALLOWED_HOSTS: localhost,127.0.0.1,auth.local
      DATABASE_NAME: authentication
      DATABASE_USER: postgres
      DATABASE_PASSWORD: postgres
      DATABASE_HOST: authentication-database
      DATABASE_PORT: 5432
      CORS_ALLOWED_ORIGINS: http://localhost:3000,http://127.0.0.1:3000
      CORS_ALLOW_ALL_ORIGINS: True
      PORT: 8080
      KEYS_DIR: /keys
    ports:
      - "8000:8000"
    depends_on:
      authentication-migrations:
        condition: service_completed_successfully
      authentication-keygen:
        condition: service_completed_successfully
      authentication-database:
        condition: service_healthy
    volumes:
      - jwt_keys:/keys
    networks:
      - aviation-network

  authentication-database:
    image: postgres:17.6
    container_name: authentication-database
    environment:
      POSTGRES_DB: authentication
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "${POSTGRES_PORT:-5434}:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER:-postgres} -d ${POSTGRES_DB:-authentication}" ]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 5s
    networks:
      - aviation-network

  authentication-migrations:
    build:
      context: .
      target: migrate
    container_name: authentication-migrations
    depends_on:
      authentication-database:
        condition: service_healthy
    environment:
      DATABASE_URL: postgres://postgres:postgres@authentication-database:5432/authentication
    restart: "no"
    networks:
      - aviation-network

  authentication-keygen:
    build:
      context: ./keys
    container_name: authentication-keygen
    volumes:
      - jwt_keys:/keys
    environment:
      KEYS_DIR: /keys
    command: python generate_keys.py
    restart: "no"
    networks:
      - aviation-network

volumes:
  jwt_keys:

networks:
  aviation-network:
    name: aviation-network
    driver: bridge