apiVersion: 1

datasources:
  - name: Loki
    type: loki
    uid: loki
    access: proxy
    url: http://loki:3100
    basicAuth: false
    jsonData:
      maxLines: 1000
      derivedFields:
        - name: trace_id
          datasourceUid: jaeger
          matcherRegex: 'trace_id=([a-f0-9]{32})'
          url: '$${__value.raw}'